<link href="~/css/styles.css" rel="stylesheet" type="text/css">


<div class="please">
  <h1>Word Counter</h1>
  <h3></h3>
  <form action='/wordcounter' method='post'>
    <label for='sentence'>Sentence</label>
    <input id='sentence' name='sentence' type='text'>
    <br>
    <label for='chosenWord'>Word to count</label>
    <input id='chosenWord' name='chosenWord' type='text'>
    <br>

    <button type='submit'>Run</button>

  </form>
</div>
