<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="~/css/styles.css" rel="stylesheet" type="text/css">
    <title>WordCounter</title>
  </head>
  <body>
    <h1>Output Sentence</h1>

    <p>@Model</p>

    <p><a href="/wordcounter/new">Add new sentence</a></p>
    @* <ul>
      @foreach(var contact in Model)
      {
        <li><a href='/contacts/@contact.GetId()'>@contact.GetName()</a></li>
      }
    </ul>
    <p><a href="/contacts/new">Add another contact</a></p>

    <form action="/contacts/delete" method="post">
      <button type="submit" name="button">Clear All Items</button>
    </form> *@

  </body>
</html>
